@import '../Utils/responsives.scss';
/* Base */
html,
body {
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    box-sizing: border-box;
   
}
@media #{$medium-up} {
    html,
    body {
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
        box-sizing: border-box;
       
    }
    
  }

/* Polices */
* {
    font-family: "Montserrat", Arial, sans-serif;
}


/* Contenu */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

