// Responsive

$medium: 360px!default;
$large: 768px!default;

$primary-color: #ff6060;
$secondary-color: #f7f7f7;
$tertiary-color: #FFFFFF;

$footer-color: #000000;
$background-color: rgba(0, 0, 0, 0.3);

$about-background: $background-color url(../assets/images/Pages/About/Banniere.png);