@import '../Utils/variables.scss';
@import '../Utils/mixins.scss';
@import '../Utils/responsives.scss';
#carrousel-container {
    display: flex;
    position: relative;
    width: 100%;
    height:auto;
    aspect-ratio:21/9;
    margin: 2% 0;

    @media screen and (min-width: $medium-up) {
        height: 415px;
    }
}

.slider {
    @include WH-full;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    @include small-radius;
    opacity: 0;
    transition: opacity ease-in-out 0.6s;  //petit effet d'apparition progressive de l'image dans le slide
    @media screen and (min-width: $medium-up) {
        @include big-radius;
    }

    & img {
        @include WH-full;
        object-fit: cover;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        mix-blend-mode: normal;
        @include small-radius;

        @media screen and (min-width: $medium-up) {
            @include big-radius;
        }
    }

    &__number {
        display: flex;
        position:relative;
        height:100%;
        justify-content: center;
        align-items: flex-end;
        z-index:20;
        color: white;
        font-size:18px;
        font-weight:700;
        @media screen and (min-width: $medium-up) {
            display:flex;
            text-align:center;
            position: absolute;
            @include font(18px, 500);
        }
    }
}

.active-anim {
    opacity: 1;
}

.rightArrow {
    @include rightArrow-style;
}

.leftArrow {
    @include leftArrow-style;
}
