@import '../Utils/responsives.scss';

header {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    width: calc(100% - 100px);
    padding:0;
  }
  
  header img {
    height: 68px;
  }
  
  nav {
    display: flex;
    width: fit-content;
  }
  
  .lien-site {
    color: #ff6060;
    margin: auto 10px;
    white-space: nowrap;
    text-decoration: none;
  }

  .lien-site:hover {
    color: #ff6060;
  }
  
  .lien-menu.active {
      border-bottom: 1px solid #ff6060;
  }
  
  @media #{$large-up} {
    header {
      margin: 40px;
      width: calc(100% - 120px);
    }
    
    header img {
      height: 37px;
    }
  
    .lien-site {
      margin: auto 15px;
      text-transform: uppercase;

    }
  }

  @media #{$medium-up} {
    header {
      height: 37px;
      align-items:center;
      width: calc(100% - 100px);
    }
    
  }