@import "./Composants/card";
@import "./Composants/caroussel";
@import "./Composants/tags";
@import "./Composants/header";
@import "./Composants/footer";
@import "./Composants/banniere";
@import "./Composants/collapse";
@import "./Base/corps";
@import "./Pages/accueil";
@import "./Pages/logements";
@import "./Pages/404";
@import "./Utils/variables";
@import "./Utils/mixins";